{% extends "header-footer.html" %}
{% block head %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename='./style/crossword.css')}}"> -->
{% endblock head %}


{% block title %}The Playground{% endblock title%}
{% block content %}



<div class=" flex justify-around flex-wrap ">

    <div class="crossword-division bg-bg">
       
            <form>
                <table class=" box-border border-gray-500 border-spacing-[0px]">
                    <tbody class=" border-inherit">
                        {% for i in range(clue_data.dimensions.cols)%}
                        <tr>
                            {% for j in range(clue_data.dimensions.rows)%}

                            <td id="cell{{j}}-{{i}}" class="cell border-2 h-10 w-10 relative bg-transparent border-black">
                                {% for item in clue_data.entries %} {% if ( item.position.x == j)
                                and ( item.position.y == i) %}
                                <span id="text{{j}}-{{i}}" class="text max-h-0 absolute text-sm text-gray-500"> {{item.number}} </span>
                                {% endif %} {% endfor %}

                                <input id="input{{j}}-{{i}}" class="inputbox w-full h-full text-center text-lg focus-visible:outline focus-visible:outline-4 focus-visible:outline-blue foz-10 focus-visible:bg-yellow-200 focus-visible:shadow-sm m-0 border-transparent relative border-2 border-solid bg-transparent " type="text" maxlength="1" />
                            </td>

                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <button>hello</button>
            <button>hello</button>
            <button>hello</button>
            <button>hello</button>


    </div>

    <div class="clue flex justify-between flex-wrap text-blue ">


        <div class="across-clue m-3">
            <h3>Across</h3>
            <ul class=" flex flex-col justify-between">
                {%for item in clue_data.entries%} {% if item.direction == 'across' %}

                <li class=" mt-3">
                    <div class="{{item.id}}" tabindex="1">
                        <a href="#{{item.id}}" >
                            <span>{{item.number}}:</span>
                            <span>{{item.clue}}</span>
                        </a>
                    </div>
                </li>
                {% endif %} {%endfor%}
            </ul>
        </div>



        <div class="down-clue m-3">
            <h3>Down</h3>
            <ul class=" flex flex-col justify-between">
                {%for item in clue_data.entries%} {% if item.direction == 'down' %}
                <li class=" mt-3">
                    <a href="#{{item.id}}">
                        <span>{{item.number}}:</span>
                        <span>{{item.clue}}</span>
                    </a>
                </li>
                {% endif %} {%endfor%}
            </ul>
        </div>
    </div>
</div>


<script>
    var myList = {{ blocked_cell_list| tojson | safe}};

    for (var i = 0; i < myList.length; i++) {
        document.getElementById(myList[i]).disabled = true;
        document.getElementById(myList[i]).closest('td').style.backgroundColor = "black";
    }
</script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{{url_for('static',filename='./working/crossword.js')}}"></script>

{% endblock content %}