{% extends "header-footer.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='./style/veiw-crossword.css')}}">{% endblock head %}
{% block title %}Crossword{% endblock title %}
{% block content %}




<div class=" flex flex-col justify-center content-center">



    {#{% set start_crossID, endcross_ID = 10746 ,10755 %}#}

    <form action="/crossword" method="POST" class="flex flex-wrap justify-center content-center">


        {# {% for cross_id in range(10746,16746) %} #}

        {% for cross_id in objects %}

        <div
            class=" rounded-lg hover:border-white w-80 hover:scale-110 border-2 border-black border-solid m-12 bg-blue box-content overflow-hidden">
            <button name="crossword-id" type="submit" value="{{cross_id}}">
                <img class=" w-80" src="{{url_for('static', filename='./puzzles/svgs/' + cross_id|string + '.svg')}}"
                    alt="">
                <span class=" text-xl text-white ">CROSSWORD #{{cross_id}}</span>
            </button>

        </div>
        {% endfor %}




    </form>




    <div class=" text-white flex flex-wrap justify-around ">


        {% if page_number > 1 %}
        <a class=" text-blue text-gr dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" href="{{ url_for('veiw_crossword', page_number=page_number-1) }}">Previous</a>
        {% endif %}

        <span class=" text-blue text-gr dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Page {{ page_number }}</span>

        {% if page_number < total_pages %} <a class=" text-blue text-gr dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" href="{{ url_for('veiw_crossword', page_number=page_number+1) }}">
            Next</a>
            {% endif %}

    </div>






</div>

{% endblock content %}