.crossword-wrapper{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.crossword-division table {
    box-sizing: border-box;
    border-color: gray;
    border-spacing: 0px
}



.crossword-division tbody {
    border-color: inherit;
}

.crossword-division tr {
    border-color: inherit;
}

.crossword-division td {
    border: 1px solid black;
    height: 35px;
    width: 35px;
    position: relative;
}

.crossword-division input {
    width: 100%;
    text-align: center;
    font-size: 19px;
    height: 100%;
    border: none;
    border-color: transparent;
    background-color: transparent;
    margin: 0em;
    /* padding: 1px 0px; */
    border-width: 1px;
    border-style: solid;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    border-image: initial;
    /* padding-block: 1px; */
    /* padding-inline: 2px; */
    position: relative;

}


.crossword-division input:focus-visible {
    outline: 4px solid #007bff;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: yellow;
}

.highlight {
    background-color: #afff04;
}

.crossword-division span {
    max-height: 0;
    position: absolute;
    font-size: 12px;
    color:rgb(81, 81, 81);
}


.clue{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.across-clue{
    margin: 10px;
    /* padding: 10px; */


}
.down-clue{
    /* margin: 10px; */
    /* padding: 10px; */
}
.clue ul{
    text-decoration: none;
    list-style: none;
}
.clue a{
    text-decoration: none;
    color: var(--primary-color);
}
.clue li{
    margin-top: 10px;
}
