.body-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.body-left-division{
    /* background-color: beige; */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;



}

.body-right-division{
    /* background-color: lavender; */
    padding: 1.5rem;
    position: relative;
    width: 400px;
}

.body-left-division h1{ 
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 80px;
    text-align: center;
    /* width: 500px; */
}

.body-left-division h2{ 
    color: var(--primary-color);
    font-size: 19px;
    text-align: center;
    font-family: var(--secondaryfont);
}



.body-right-division img{
    width: 400px;
   
}



.button-division{
    display: flex;
    justify-content: center;
}

.button-division a{
    color: var(--primary-color);
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    margin: 20px;
    padding: 10px;
}
#hero{
    position: absolute;
    top: 100px;
    left: 50px;
}

#trynow{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}


.floating {  
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    /* margin-top: 5px; */
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}