{% extends "header-footer.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='./style/dist/output.css')}}" />
{% endblock head %}
{% block title %}OTP{% endblock title%}
{% block content %}


<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto  lg:py-0">

        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Enter the OTP
                </h1>

                
                <form class="space-y-4 md:space-y-6" action="/otp" method="post">

                    {{ form.csrf_token }}

                    <div>
                        {{form.otp.label(for="otp",class="block mb-2 text-sm font-medium text-gray-900
                        dark:text-white")}}
                        {{form.otp(type="text",id="otp",class="bg-gray-50 border border-gray-300 text-gray-900
                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
                        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                        dark:focus:ring-blue-500 dark:focus:border-blue-500",placeholder="****")}}
                    </div>




                    {{form.submit(type="submit", class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
                    rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                    dark:focus:border-blue-500")}}


                
                  
                </form>
            </div>
        </div>
    </div>
</section>




{% endblock content %}