{% extends "header-footer.html" %} {% block title %}The Playground{% endblock
title%} {% block head %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
{% endblock %} {% block content %}

<!-- wrapper for crossword and clues -->
<div class="flex justify-around flex-wrap m-5">
  <!-- left side -->
  <div class="flex flex-col">
    <!-- crossword div -->
    <div class="crossword-division bg-bg relative w-[364px] md:w-[468px]">
      <form class="bg-yellow">
        <table class="box-border border-gray-700 border-2 border-spacing-[0px]">
          <tbody class="border-inherit">
            {% for row in solution%}
            <tr>
              {% for i in row %}
              {% if i == "" %}
              <td
                class="cell border-[1px] h-7 w-7 md:w-9 md:h-9 relative bg-black border-black"
                >
                {{i}}
              </td>
              {% else %}



              <td
                class="cell border-[1px] h-7 w-7 md:w-9 md:h-9 relative bg-transparent border-black"
                >
                {{i}}
              </td>
              {% endif %}

              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>

  </div>
</div>
{% endblock content %} {% block bodyend %} {% endblock %}
